In [8]:
from pyspark.sql import SparkSession
import findspark
findspark.find()
findspark.init()
spark=SparkSession.builder.appName('spark_parquet_example').getOrCreate()
spark

In [11]:
df=spark.read.csv(r'C:\Users\venka\My Python Work\Pyspark\10000 Sales Records.csv',header=True,inferSchema=True)

In [3]:
type(df)

pyspark.sql.dataframe.DataFrame

In [70]:
df.count()

10000

In [13]:
df.write.parquet("success.parquet")

In [14]:
df2=spark.read.parquet('file.parquet')

In [69]:
df2.count()

10000

list_data=df2['Region',].distinct().show(df2.count(),False)

df3=df2.toPandas()

df4=df2.select('Region')
list_data=df4.distinct().show(df2.count(),False)

list_data

In [44]:
df2.createOrReplaceTempView("books")
result1=spark.sql("select distinct Region from books")
result1.show(10,False)

+---------------------------------+
|Region                           |
+---------------------------------+
|Middle East and North Africa     |
|Australia and Oceania            |
|Europe                           |
|Sub-Saharan Africa               |
|Central America and the Caribbean|
|North America                    |
|Asia                             |
+---------------------------------+

In [42]:
result=spark.sql("select * from books where Region='Asia'")
result.show(5,False)

+------+----------+-------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|Region|Country   |Item_Type    |Sales_Channel|Order_Priority|Order_Date|Order_ID |Ship_Date |Units_Sold|Unit_Price|Unit_Cost|Total_Revenue|Total_Cost|Total_Profit|
+------+----------+-------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|Asia  |Laos      |Vegetables   |Online       |L             |2/20/2011 |844532620|3/20/2011 |4825      |154.06    |90.93    |743339.5     |438737.25 |304602.25   |
|Asia  |China     |Baby Food    |Online       |C             |04-10-2017|564251220|05-12-2017|3330      |255.28    |159.42   |850082.4     |530868.6  |319213.8    |
|Asia  |India     |Household    |Online       |C             |8/27/2016 |151717174|09-02-2016|5338      |668.27    |502.54   |3567225.26   |2682558.52|884666.74   |
|Asia  |Japan     |Cosmetics    |Offline      |H             |9/19/2013 |967895781|9/28/2013 |725       |437.2     |263.33   |316970.0     |190914.25 |126055.75   |
|Asia  |Bangladesh|Personal Care|Online       |L             |12-11-2016|246147668|1/13/2017 |9420      |81.73     |56.67    |769896.6     |533831.4  |236065.2    |
+------+----------+-------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
only showing top 5 rows

result.write.parquet("Asia.parquet")

In [54]:
type(result1)

pyspark.sql.dataframe.DataFrame

In [88]:
list_data=result1.toLocalIterator()
reg_list=list(list_data)
type(reg_list)

list

In [92]:
for i in reg_list:
    print(i['Region'])

Middle East and North Africa
Australia and Oceania
Europe
Sub-Saharan Africa
Central America and the Caribbean
North America
Asia

In [79]:
def write_mul_files(reg):
    query="select * from books where Region='{}'".format(reg)
    result=spark.sql(query)
    result.write.parquet(reg+".parquet")

In [93]:
for i in reg_list:
    write_mul_files(i['Region'])
    
#write_mul_files('Asia')

spark.stop()