In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import SparkSession
import findspark
findspark.find()
findspark.init()
spark=SparkSession.builder.appName('spark_parquet_example').getOrCreate()
spark

In [2]:
df=spark.read.csv(r'C:\Users\venka\My Python Work\Pyspark\10000 Sales Records.csv',header=True,inferSchema=True)
list(df.columns)
df.columns

['Region',
 'Country',
 'Item_Type',
 'Sales_Channel',
 'Order_Priority',
 'Order_Date',
 'Order_ID',
 'Ship_Date',
 'Units_Sold',
 'Unit_Price',
 'Unit_Cost',
 'Total_Revenue',
 'Total_Cost',
 'Total_Profit']

In [3]:
df.printSchema()

root
 |-- Region: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Item_Type: string (nullable = true)
 |-- Sales_Channel: string (nullable = true)
 |-- Order_Priority: string (nullable = true)
 |-- Order_Date: string (nullable = true)
 |-- Order_ID: integer (nullable = true)
 |-- Ship_Date: string (nullable = true)
 |-- Units_Sold: integer (nullable = true)
 |-- Unit_Price: double (nullable = true)
 |-- Unit_Cost: double (nullable = true)
 |-- Total_Revenue: double (nullable = true)
 |-- Total_Cost: double (nullable = true)
 |-- Total_Profit: double (nullable = true)

In [4]:
df1=df.sample(False,fraction=0.1)
df1.printSchema()
df1.count()

root
 |-- Region: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Item_Type: string (nullable = true)
 |-- Sales_Channel: string (nullable = true)
 |-- Order_Priority: string (nullable = true)
 |-- Order_Date: string (nullable = true)
 |-- Order_ID: integer (nullable = true)
 |-- Ship_Date: string (nullable = true)
 |-- Units_Sold: integer (nullable = true)
 |-- Unit_Price: double (nullable = true)
 |-- Unit_Cost: double (nullable = true)
 |-- Total_Revenue: double (nullable = true)
 |-- Total_Cost: double (nullable = true)
 |-- Total_Profit: double (nullable = true)

1023

In [5]:
df['Region',].show()

+--------------------+
|              Region|
+--------------------+
|  Sub-Saharan Africa|
|              Europe|
|Middle East and N...|
|  Sub-Saharan Africa|
|              Europe|
|  Sub-Saharan Africa|
|                Asia|
|                Asia|
|  Sub-Saharan Africa|
|Central America a...|
|  Sub-Saharan Africa|
|              Europe|
|              Europe|
|                Asia|
|Middle East and N...|
|Australia and Oce...|
|Central America a...|
|              Europe|
|Middle East and N...|
|              Europe|
+--------------------+
only showing top 20 rows

In [6]:
df.columns

['Region',
 'Country',
 'Item_Type',
 'Sales_Channel',
 'Order_Priority',
 'Order_Date',
 'Order_ID',
 'Ship_Date',
 'Units_Sold',
 'Unit_Price',
 'Unit_Cost',
 'Total_Revenue',
 'Total_Cost',
 'Total_Profit']

In [7]:
df['Region','Country'].show(5)

+--------------------+--------------------+
|              Region|             Country|
+--------------------+--------------------+
|  Sub-Saharan Africa|                Chad|
|              Europe|              Latvia|
|Middle East and N...|            Pakistan|
|  Sub-Saharan Africa|Democratic Republ...|
|              Europe|      Czech Republic|
+--------------------+--------------------+
only showing top 5 rows

In [8]:
df.select('Item_Type').distinct().show()

+---------------+
|      Item_Type|
+---------------+
|      Baby Food|
|         Cereal|
|           Meat|
|      Household|
|     Vegetables|
|      Beverages|
|Office Supplies|
|      Cosmetics|
|  Personal Care|
|         Fruits|
|         Snacks|
|        Clothes|
+---------------+

In [9]:
df1a=spark.read.csv('test1.csv',header=True,inferSchema=True)
df1a

DataFrame[Name: string, Designation: string, Exper: int]

In [10]:
import pyarrow.csv as pv
import pyarrow.parquet as pq

In [11]:
df2=pv.read_csv('test1.csv')
pq.write_table(df2,"file.parquet")
#pq.write.save(df2,"filed.parquet")

In [12]:
#!pip install pyarrow

In [13]:
df4=spark.read.parquet('file.parquet')

In [14]:
df4['Name',].show()

+-------+
|   Name|
+-------+
|  Manoj|
|Santosh|
| Golari|
|    Som|
| Veera |
|sahithi|
+-------+

In [15]:
df5=df4.toPandas()
df5.to_parquet('filefrompandas.parquet')

In [16]:
df5

      Name  Designation  Exper
0    Manoj          SSE      5
1  Santosh          SSE      6
2   Golari  SSE Retired      7
3      Som          SSE      6
4   Veera            SE      4
5  sahithi          SSE      6

df1a.write.mode('overwrite').parquet('sparkfile.parquet')

df1a.write.parquet('one.parquet')

In [ ]:
with open()

In [17]:
txt_file=spark.read.option('header','true').text('test1.txt')
txt_file

DataFrame[value: string]

In [18]:
txt_file.show()

+------------------+
|             value|
+------------------+
|         Manoj	SSE|
|       Santosh	SSE|
|Golari	SSE Retired|
|           Som	SSE|
|         Veera 	SE|
|       sahithi	SSE|
+------------------+

In [19]:
#spark.stop()