In [1]:
import findspark;
import time;
from pyspark import SparkContext
findspark.find()
findspark.init()
try:
    sc=SparkContext("local","spark_example")
except:
    sc.stop()
    sc=SparkContext("local","spark_example")
def st():
    return time.time()
def exec(arg):
    print("Time for exectuion:" , time.time()-arg)
sc.stop()

In [2]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practise').getOrCreate()
df=spark.read.csv('10000 Sales Records.csv',header=True,inferSchema=True)
df.printSchema()
df1=df.sample(False,0.1)
df1.count()

root
 |-- Region: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Item Type: string (nullable = true)
 |-- Sales Channel: string (nullable = true)
 |-- Order Priority: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Order ID: integer (nullable = true)
 |-- Ship Date: string (nullable = true)
 |-- Units Sold: integer (nullable = true)
 |-- Unit Price: double (nullable = true)
 |-- Unit Cost: double (nullable = true)
 |-- Total Revenue: double (nullable = true)
 |-- Total Cost: double (nullable = true)
 |-- Total Profit: double (nullable = true)

998

In [3]:
df['Region','Country'].show()

+--------------------+--------------------+
|              Region|             Country|
+--------------------+--------------------+
|  Sub-Saharan Africa|                Chad|
|              Europe|              Latvia|
|Middle East and N...|            Pakistan|
|  Sub-Saharan Africa|Democratic Republ...|
|              Europe|      Czech Republic|
|  Sub-Saharan Africa|        South Africa|
|                Asia|                Laos|
|                Asia|               China|
|  Sub-Saharan Africa|             Eritrea|
|Central America a...|               Haiti|
|  Sub-Saharan Africa|              Zambia|
|              Europe|Bosnia and Herzeg...|
|              Europe|             Germany|
|                Asia|               India|
|Middle East and N...|             Algeria|
|Australia and Oce...|               Palau|
|Central America a...|                Cuba|
|              Europe|        Vatican City|
|Middle East and N...|             Lebanon|
|              Europe|           Lithuania|
+--------------------+--------------------+
only showing top 20 rows

In [4]:
df['Region','Country'].describe().show()

+-------+------------------+-----------+
|summary|            Region|    Country|
+-------+------------------+-----------+
|  count|             10000|      10000|
|   mean|              null|       null|
| stddev|              null|       null|
|    min|              Asia|Afghanistan|
|    max|Sub-Saharan Africa|   Zimbabwe|
+-------+------------------+-----------+

In [5]:
df.columns

['Region',
 'Country',
 'Item Type',
 'Sales Channel',
 'Order Priority',
 'Order Date',
 'Order ID',
 'Ship Date',
 'Units Sold',
 'Unit Price',
 'Unit Cost',
 'Total Revenue',
 'Total Cost',
 'Total Profit']

In [6]:
type(df)

pyspark.sql.dataframe.DataFrame

In [7]:
len(df.columns)

14

In [8]:
for x in df.take(3):
    print(x)

Row(Region='Sub-Saharan Africa', Country='Chad', Item Type='Office Supplies', Sales Channel='Online', Order Priority='L', Order Date='1/27/2011', Order ID=292494523, Ship Date='02-12-2011', Units Sold=4484, Unit Price=651.21, Unit Cost=524.96, Total Revenue=2920025.64, Total Cost=2353920.64, Total Profit=566105.0)
Row(Region='Europe', Country='Latvia', Item Type='Beverages', Sales Channel='Online', Order Priority='C', Order Date='12/28/2015', Order ID=361825549, Ship Date='1/23/2016', Units Sold=None, Unit Price=47.45, Unit Cost=31.79, Total Revenue=51008.75, Total Cost=34174.25, Total Profit=16834.5)
Row(Region='Middle East and North Africa', Country='Pakistan', Item Type='Vegetables', Sales Channel='Offline', Order Priority='C', Order Date='1/13/2011', Order ID=141515767, Ship Date='02-01-2011', Units Sold=6515, Unit Price=154.06, Unit Cost=90.93, Total Revenue=1003700.9, Total Cost=592408.95, Total Profit=411291.95)

In [9]:
df.head(3)

[Row(Region='Sub-Saharan Africa', Country='Chad', Item Type='Office Supplies', Sales Channel='Online', Order Priority='L', Order Date='1/27/2011', Order ID=292494523, Ship Date='02-12-2011', Units Sold=4484, Unit Price=651.21, Unit Cost=524.96, Total Revenue=2920025.64, Total Cost=2353920.64, Total Profit=566105.0),
 Row(Region='Europe', Country='Latvia', Item Type='Beverages', Sales Channel='Online', Order Priority='C', Order Date='12/28/2015', Order ID=361825549, Ship Date='1/23/2016', Units Sold=None, Unit Price=47.45, Unit Cost=31.79, Total Revenue=51008.75, Total Cost=34174.25, Total Profit=16834.5),
 Row(Region='Middle East and North Africa', Country='Pakistan', Item Type='Vegetables', Sales Channel='Offline', Order Priority='C', Order Date='1/13/2011', Order ID=141515767, Ship Date='02-01-2011', Units Sold=6515, Unit Price=154.06, Unit Cost=90.93, Total Revenue=1003700.9, Total Cost=592408.95, Total Profit=411291.95)]

In [10]:
df.select("Region").show()

+--------------------+
|              Region|
+--------------------+
|  Sub-Saharan Africa|
|              Europe|
|Middle East and N...|
|  Sub-Saharan Africa|
|              Europe|
|  Sub-Saharan Africa|
|                Asia|
|                Asia|
|  Sub-Saharan Africa|
|Central America a...|
|  Sub-Saharan Africa|
|              Europe|
|              Europe|
|                Asia|
|Middle East and N...|
|Australia and Oce...|
|Central America a...|
|              Europe|
|Middle East and N...|
|              Europe|
+--------------------+
only showing top 20 rows

In [11]:
df.filter(df['Units Sold'] < 100).count()

105

df.filter(df['Units Sold'] < 100 & df['Region']=='Asia').count()

In [13]:
df.filter(df['Region']=='Asia').count()

1469

In [14]:
df.columns, len(df.columns)

(['Region',
  'Country',
  'Item Type',
  'Sales Channel',
  'Order Priority',
  'Order Date',
  'Order ID',
  'Ship Date',
  'Units Sold',
  'Unit Price',
  'Unit Cost',
  'Total Revenue',
  'Total Cost',
  'Total Profit'],
 14)

In [15]:
df.select("Region").distinct().show(), df.select("Region").distinct().count()

+--------------------+
|              Region|
+--------------------+
|Middle East and N...|
|Australia and Oce...|
|              Europe|
|  Sub-Saharan Africa|
|Central America a...|
|       North America|
|                Asia|
+--------------------+

(None, 7)

In [16]:
df.select("Sales Channel").distinct().show(), df.count()

+-------------+
|Sales Channel|
+-------------+
|       Online|
|      Offline|
+-------------+

(None, 10000)

In [17]:
op1=df.select("Region").filter(df["Sales Channel"]=="Offline").distinct()
op1.show(), op1.count()

+--------------------+
|              Region|
+--------------------+
|Middle East and N...|
|Australia and Oce...|
|              Europe|
|  Sub-Saharan Africa|
|Central America a...|
|       North America|
|                Asia|
+--------------------+

(None, 7)

In [18]:
op2=df.crosstab('Region','Sales Channel')
type(op2)

pyspark.sql.dataframe.DataFrame

In [19]:
op2.show()

+--------------------+-------+------+
|Region_Sales Channel|Offline|Online|
+--------------------+-------+------+
|       North America|    109|   106|
|Australia and Oce...|    373|   424|
|  Sub-Saharan Africa|   1289|  1314|
|              Europe|   1318|  1315|
|Central America a...|    517|   502|
|Middle East and N...|    625|   639|
|                Asia|    708|   761|
+--------------------+-------+------+

In [20]:
op2.head(2)

[Row(Region_Sales Channel='North America', Offline=109, Online=106),
 Row(Region_Sales Channel='Australia and Oceania', Offline=373, Online=424)]

In [21]:
df.count(), df.dropna().count()

(10000, 9999)

In [22]:
df.count()

10000

In [23]:
op3=df.dropna()

In [24]:
op3.count()

9999