In [1]:
#!pip install pyspark
#!pip install findspark
print('Not required, pyspark is already installed')

Not required, pyspark is already installed

In [2]:
import pyspark

In [3]:
import pandas as pd;
import os
current_directory = os.getcwd()
print(current_directory)

C:\Users\venka\My Python Work\Pyspark

In [4]:
df=pd.read_csv('test1.csv')
df

      Name  Designation  Exper
0    Manoj          SSE      5
1  Santosh          SSE      6
2   Golari  SSE Retired      7
3      Som          SSE      6
4   Veera            SE      4
5  sahithi          SSE      6

In [5]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practise').getOrCreate()
spark

In [6]:
spark_df=spark.read.csv('test1.csv') #creates own header
spark_df.show()

+-------+-----------+-----+
|    _c0|        _c1|  _c2|
+-------+-----------+-----+
|   Name|Designation|Exper|
|  Manoj|        SSE|    5|
|Santosh|        SSE|    6|
| Golari|SSE Retired|    7|
|    Som|        SSE|    6|
| Veera |         SE|    4|
|sahithi|        SSE|    6|
+-------+-----------+-----+

In [7]:
spark_df=spark.read.option('header','true').csv('test1.csv') #not creates separte header
spark_df.show()

+-------+-----------+-----+
|   Name|Designation|Exper|
+-------+-----------+-----+
|  Manoj|        SSE|    5|
|Santosh|        SSE|    6|
| Golari|SSE Retired|    7|
|    Som|        SSE|    6|
| Veera |         SE|    4|
|sahithi|        SSE|    6|
+-------+-----------+-----+

In [8]:
spark_df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Designation: string (nullable = true)
 |-- Exper: string (nullable = true)

In [9]:
spark_df=spark.read.option('header','true').csv('test1.csv',inferSchema=True)
spark_df

DataFrame[Name: string, Designation: string, Exper: int]

In [10]:
spark_df.show()

+-------+-----------+-----+
|   Name|Designation|Exper|
+-------+-----------+-----+
|  Manoj|        SSE|    5|
|Santosh|        SSE|    6|
| Golari|SSE Retired|    7|
|    Som|        SSE|    6|
| Veera |         SE|    4|
|sahithi|        SSE|    6|
+-------+-----------+-----+

In [11]:
#Column name
spark_df.columns
sd=spark_df

In [12]:
sd

DataFrame[Name: string, Designation: string, Exper: int]

In [13]:
sd.show()

+-------+-----------+-----+
|   Name|Designation|Exper|
+-------+-----------+-----+
|  Manoj|        SSE|    5|
|Santosh|        SSE|    6|
| Golari|SSE Retired|    7|
|    Som|        SSE|    6|
| Veera |         SE|    4|
|sahithi|        SSE|    6|
+-------+-----------+-----+

In [14]:
sd.head(2)

[Row(Name='Manoj', Designation='SSE', Exper=5),
 Row(Name='Santosh', Designation='SSE', Exper=6)]

In [15]:
sd.select('Name').show()

+-------+
|   Name|
+-------+
|  Manoj|
|Santosh|
| Golari|
|    Som|
| Veera |
|sahithi|
+-------+

In [16]:
sd.select(['Name','Designation']).show()

+-------+-----------+
|   Name|Designation|
+-------+-----------+
|  Manoj|        SSE|
|Santosh|        SSE|
| Golari|SSE Retired|
|    Som|        SSE|
| Veera |         SE|
|sahithi|        SSE|
+-------+-----------+

In [17]:
sd.tail(2)

[Row(Name='Veera ', Designation='SE', Exper=4),
 Row(Name='sahithi', Designation='SSE', Exper=6)]

In [18]:
sd.dtypes

[('Name', 'string'), ('Designation', 'string'), ('Exper', 'int')]

In [19]:
sd.describe().show()

+-------+-------+-----------+------------------+
|summary|   Name|Designation|             Exper|
+-------+-------+-----------+------------------+
|  count|      6|          6|                 6|
|   mean|   null|       null| 5.666666666666667|
| stddev|   null|       null|1.0327955589886446|
|    min| Golari|         SE|                 4|
|    max|sahithi|SSE Retired|                 7|
+-------+-------+-----------+------------------+

In [20]:
#loc=['Tenali','Hyd','Orissa','Ranchi','TN','AP']
#sd_new=spark.read(loc)
#sd.withColumn('Location',loc).show()

In [28]:
spark.stop()

In [29]:
import findspark;
findspark.find()
findspark.init()
from pyspark import SparkContext
sc=SparkContext()
sc.stop()
sc=SparkContext("local","spark_example")
sc.getConf().getAll()

[('spark.master', 'local'),
 ('spark.driver.port', '60893'),
 ('spark.rdd.compress', 'True'),
 ('spark.app.name', 'spark_example'),
 ('spark.serializer.objectStreamReset', '100'),
 ('spark.app.id', 'local-1629351878204'),
 ('spark.submit.pyFiles', ''),
 ('spark.executor.id', 'driver'),
 ('spark.app.startTime', '1629351878133'),
 ('spark.submit.deployMode', 'client'),
 ('spark.ui.showConsoleProgress', 'true'),
 ('spark.driver.host', 'MSI')]

In [31]:
rdd=sc.parallelize([1,2,3,'Manoj','Golari','Santosh','Manoj'])
print(type(rdd))
print(type(rdd.collect()))
rdd.collect()

<class 'pyspark.rdd.RDD'>
<class 'list'>

[1, 2, 3, 'Manoj', 'Golari', 'Santosh', 'Manoj']

In [32]:
sc.getConf().getAll()
type(rdd.take(7))
rdd.take(7)

[1, 2, 3, 'Manoj', 'Golari', 'Santosh', 'Manoj']

In [33]:
rdd.countByValue()

defaultdict(int, {1: 1, 2: 1, 3: 1, 'Manoj': 2, 'Golari': 1, 'Santosh': 1})

In [ ]:
import findspark;
findspark.find()
findspark.init()
from pyspark import SparkContext
sc.stop()
sc=SparkContext("local","spark_example")

In [34]:
rdd=sc.textFile("test1.txt")
rdd.collect()

['Name\tDesignation',
 'Manoj\tSSE',
 'Santosh\tSSE',
 'Golari\tSSE Retired',
 'Som\tSSE',
 'Veera \tSE',
 'sahithi\tSSE']

In [35]:
list=[i for i in range(10)]
list.append(1)
rdd1=sc.parallelize(list,3)

In [36]:
rdd1.collect()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1]

In [37]:
rdd1.countByValue()

defaultdict(int, {0: 1, 1: 2, 2: 1, 3: 1, 4: 1, 5: 1, 6: 1, 7: 1, 8: 1, 9: 1})

In [38]:
rdd1.glom().collect()

[[0, 1, 2], [3, 4, 5], [6, 7, 8, 9, 1]]

In [39]:
rdd1.glom().collect()

[[0, 1, 2], [3, 4, 5], [6, 7, 8, 9, 1]]

In [40]:
rdd1.min(), rdd1.max(),rdd1.sum(), rdd1.count(), rdd1.mean()

(0, 9, 46, 11, 4.181818181818182)

In [41]:
a=rdd1.distinct()
a.count(), rdd1.takeOrdered(3)

(10, [0, 1, 1])

In [47]:
a.collect()

[0, 3, 6, 9, 1, 4, 7, 2, 5, 8]

In [48]:
rdd1.collect()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1]

In [42]:
b=rdd1.map(lambda x:x**2)
c=rdd1.reduce(lambda a,b:a+b)
b.collect()

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 1]

In [49]:
c

46

In [50]:
d=rdd1.map(lambda x:x**3).reduce(lambda x,y:x+y)
d

2026

In [51]:
print(rdd1.reduce(lambda a,b:a+b))
print(rdd1.fold(1,lambda a,b:a+b))
print(rdd1.reduce(lambda a,b:a*b))
print(rdd1.fold(1,lambda a,b:a*b))

46
50
0
0